#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# DATABASE  (compose service-name = user_DB ; user/password are dev defaults)
#--------------------------------------------------------------------
database.default.hostname = user_DB
database.default.database = user
database.default.username = root
database.default.password = CHANGE_ME
database.default.DBDriver = Postgre
database.default.DBPrefix =
database.default.port     = 5432
